<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ekconf.editors.EkconfEditorPart"
            default="false"
            id="ekconf.editor1"
            name="Ekconf Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ekconf.commands.RunHandler"
            id="ekconf.run"
            name="run ekconf">
      </command>
      <command
            defaultHandler="ekconf.commands.FindHandler"
            id="ekconf.findMenu"
            name="find menu">
      </command>
      <command
            defaultHandler="ekconf.commands.OptionModeHandler"
            id="ekconf.optionMode"
            name="option mode">
         <commandParameter
               id="ekconf.optionModeParameter"
               name="option mode parameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="ekconf.commands.AlternateConfigurationHandler"
            id="ekconf.loadAlternateConfiguration"
            name="load alternation configuration file">
      </command>
      <command
            defaultHandler="ekconf.commands.PreferencesHandler"
            id="ekconf.preferencesCmd"
            name="preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="Ekconf">
            <command
                  commandId="ekconf.run"
                  label="Run"
                  mnemonic="R"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  mnemonic="S"
                  style="push">
            </command>
            <separator
                  name="ekconf.separator2">
            </separator>
            <menu
                  label="Options">
               <command
                     commandId="ekconf.optionMode"
                     label="Normal options"
                     style="radio">
                  <parameter
                        name="ekconf.optionModeParameter"
                        value="normal">
                  </parameter>
               </command>
               <command
                     commandId="ekconf.optionMode"
                     label="All options"
                     style="radio">
                  <parameter
                        name="ekconf.optionModeParameter"
                        value="all">
                  </parameter>
               </command>
            </menu>
            <separator
                  name="ekconf.separator3">
            </separator>
            <command
                  commandId="ekconf.findMenu"
                  label="Find..."
                  mnemonic="F"
                  style="pulldown">
            </command>
            <separator
                  name="ekconf.separator1">
            </separator>
            <command
                  commandId="ekconf.loadAlternateConfiguration"
                  label="Load..."
                  mnemonic="L"
                  style="push">
            </command>
            <separator
                  name="ekconf.separator1">
            </separator>
            <command
                  commandId="ekconf.preferencesCmd"
                  label="Preferences"
                  mnemonic="P"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                     <adapt
                           type="org.eclipse.core.resources.IFolder">
                     </adapt>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ekconf.preferences.EkconfPreferences"
            id="ekconf.preferencePage"
            name="Ekconf">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ekconf.preferences.EkconfPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ekconf.findMenu"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+F">
      </key>
   </extension>

</plugin>
